*{
    margin: 0px;
    padding: 0px;
}

/* General CSS */
html, body{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

    /* *************************
            Home 
    ****************************/

    #home{
    height: 100%;
}

#home-cover{
    height: 100%;
    background-image: url("img/coding.jpg");
}

#content-box{
    width: 100%;
    height: 100%;
    display: table;
}

#content-box-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
}

/* Parallax Effect(General)*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* General Button */

.btn-general{
    font-weight: 10px !important;
    font-size: 0.9em;
    border-radius: 0px;
    color: white;
    border-color: white;
    text-transform: uppercase;
    padding: 10px;   
    font-weight: 10px !important;

}

.btn-general:hover, .btn-general:focus{
    background-color: white;
    color: black;
    outline: 0 !important;
    box-shadow: none;

}

    /* *************************
            Animate
    ****************************/

#home-cover, #home-heading, #home-button{
    animation: zoomIn; 
    animation-delay:0s;
    animation-duration: 1s;
}

#home-heading{
    animation-delay: 0.7s;
}

#home-button{
    animation-delay: 1.2s;
}

    /* *************************
            Services
    ****************************/

